APP_NAME="@@appname"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://@@lowerappname.test

# Database
DB_DATABASE=@@lowerappname
DB_USERNAME=postgres

# Drivers
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
SESSION_DRIVER=file

# Mail
MAIL_MAILER=failover
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME="@@appname"
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="no-reply@@@lowerappname.net"
MAIL_FROM_NAME="${APP_NAME}"
